@import "variables";
@import "fonts";

body {
    font-family: 'Lato', sans-serif;
    #header {
        margin-top: 25px;
        a {
            height: 100px;
            display: flex;
            justify-content: center;
            img {}
        }
    }
    main {
        display: grid;
        row-gap: 10px;
        padding: 38px 100px 0 100px;
        > div {
            margin-bottom: 15px;
        }
        #search-filter {
            input {
                width: 100%;
                height: 70px;
                border: none;
                background-color: #E7E7E7;
                border-radius: 5px;
                padding: 10px;
                color: #ADADAD;
                font-size: 18px;
                &::placeholder {
                    color: #ADADAD;
                }
                &:focus {
                    outline: none;
                }
            }
        }

        #tag-button {
            button {
                color: white;
                border: none;
                border-radius: 5px;
                background-color: #3381F7;
                font-size: 14px;
                height: 40px;
                font-weight: 700;
                line-height: 17px;
                &::placeholder {
                    color: white;
                }
                &:focus {
                    outline: none;
                }
            }
        }

        #selects-input {
            font-size: 18px;
            input {
                border: none;
                border-radius: 5px;
                height: 5vw;
                padding: 34px;
                max-width: 11rem;
                margin-right: 1rem;
                &::placeholder {
                    color: white;
                }
                &:focus {
                    outline: none;
                }
                color: white;
                &:nth-child(1) {
                    background-color: $primary-color;
                }
                &:nth-child(2) {
                    background-color: $secondary-color;
                }
                &:nth-child(3) {
                    background-color: $tertiary-color;
                }
            }
        }

        #label-recipes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 50px;
            article {
                > div {
                    img {
                        width: 100%;
                        object-fit: cover;
                        height: 13vw;
                        background-color: $img-background-color;
                        border-radius: 10px 10px 0 0;
                    }
                    > div {
                        display: grid;
                        grid-template-areas:
                                "title duration"
                                "ingredients how-to"
                        ;
                        grid-gap: 20px;
                        padding: 10px;
                        background-color: $legend-background;
                        height: 13vw;
                        h1 {
                            grid-area: title;
                            font-size: 16px;
                        }
                        span {
                            grid-area: duration;
                            text-align: right;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 22px;
                        }
                        ul{
                            grid-area: ingredients;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 14px;
                            display: flex;
                            flex-direction: column;
                        }
                        p {
                            grid-area: how-to;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 100%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
}
