@import "variables";
@import "fonts";

body {
    font-family: 'Lato', sans-serif;
    #header {
        margin-top: 25px;
        a {
            height: 100px;
            display: flex;
            justify-content: center;
        }
    }
    main {
        padding: 38px 100px 0 100px;
        #search-filter {
            padding-top: 25px;
            input {
                width: 100%;
                height: 70px;
                border: none;
                background-color: #E7E7E7;
                border-radius: 5px;
                padding: 10px;
                color: #ADADAD;
                font-size: 18px;
                &::placeholder {
                    color: #ADADAD;
                }
                &:focus {
                    outline: none;
                }
            }
            svg {
                position: absolute;
                font-size: 40px;
                margin: 15px -50px;
            }
        }

        #tag-button {
            padding-top: 25px;

            button {
                color: white;
                border: none;
                border-radius: 5px;
                font-size: 14px;
                height: 40px;
                font-weight: 700;
                line-height: 17px;
                margin: 10px 10px 5px 0;
                &::placeholder {
                    color: white;
                }
                &:focus {
                    outline: none;
                }
                &:hover {
                    filter: brightness(150%);
                }
                svg { margin-left: 10px; }
            }
        }

        #selects-input {
            padding-top: 25px;
            font-size: 18px;
            display: flex;
            #div-ingredients, #div-apparels, #div-ustensils,
            #ingredients-dropdown, #apparels-dropdown, #ustensils-dropdown {
                z-index: 9999;
            }
            #div-ingredients input, #div-apparels input, #div-ustensils input {
                border: none;
                border-radius: 5px;
                height: 70px;
                padding: 34px;
                max-width: 11rem;
                color: white;
                &::placeholder {
                    color: white;
                }
                &:focus {
                    outline: none;
                }
            }

            #div-ingredients, #div-ingredients input {
                background-color: $primary-color;
                border-radius: 5px;

            }

            #div-apparels, #div-apparels input {
                background-color: $secondary-color;
                border-radius: 5px;

            }

            #div-ustensils, #div-ustensils input {
                background-color: $tertiary-color;
                border-radius: 5px;

            }

            #div-ingredients svg, #div-apparels svg, #div-ustensils svg {
                position: absolute;
                color: white;
                top: 20px;
                right: 20px;
            }

            #div-ingredients, #div-apparels, #div-ustensils {
                position: relative;
            }

            #ingredients-dropdown, #apparels-dropdown, #ustensils-dropdown {
                display: none;
                grid-template-columns: 1fr 1fr 1fr;
                padding: 20px;
                border-radius: 5px;
                width: 475px;
                position: absolute;
                margin-top: 65px;

                li {
                    border: none;
                    color: white;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    &:hover {
                        cursor: pointer;
                        filter: brightness(150%);
                    }
                    &::first-letter {
                        text-transform:capitalize;
                    }
                }
            }

            #ingredients-dropdown {
                background-color: $primary-color;
                z-index: 9999;
                li {
                    background-color: $primary-color;
                }
            }

            #apparels-dropdown {
                background-color: $secondary-color;
                z-index: 9999;
                margin-left: 198px;

                li {
                    background-color: $secondary-color;

                }
            }

            #ustensils-dropdown {
                background-color: $tertiary-color;
                z-index: 9999;
                margin-left: 396px;
                li {
                    background-color: $tertiary-color;
                }
            }

            .overlay {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 1;
                bottom: 0;
                /* background: darkcyan; */
            }
        }

        #label-recipes {
            padding-top: 25px;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 50px;
            article {
                > div {
                    img {
                        width: 100%;
                        object-fit: cover;
                        height: 13vw;
                        background-color: $img-background-color;
                        border-radius: 10px 10px 0 0;
                    }
                    > div {
                        display: grid;
                        grid-template-areas:
                                "title duration"
                                "ingredients how-to";
                        grid-gap: 20px;
                        padding: 10px;
                        background-color: $legend-background;
                        height: 13vw;
                        h1 {
                            grid-area: title;
                            font-size: 16px;
                        }
                        span {
                            grid-area: duration;
                            text-align: right;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 22px;
                        }
                        ul{
                            grid-area: ingredients;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 14px;
                            display: flex;
                            flex-direction: column;
                        }
                        p {
                            grid-area: how-to;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 100%;

                        }
                    }
                }
            }
        }
    }
}
